alert tcp $ 3372 -> $ any ( msg:"match text #1"; content:"gzip"; http_uri; content:"download" )
alert tcp $ 3372 -> $ any ( msg:"match text #2"; content:"</style>" )
alert tcp $ any -> $ any ( msg:"match text #3"; http_uri; content:"random" )